name: password_engine_workspace
publish_to: "none"

environment:
  sdk: ^3.7.0

workspace:
  - packages/password_engine
  - packages/password_engine_zxcvbn

dev_dependencies:
  melos: ^7.4.0

command:
  bootstrap:
    hooks:
      pre: flutter --version

melos:
  scripts:
    format:
      description: Format Dart files in all packages.
      run: melos exec -- "dart format ."

    lint:
      description: Run analyzers for Flutter and Dart packages.
      run: melos run lint:flutter && melos run lint:dart

    lint:flutter:
      description: Run Flutter analyzer in Flutter packages.
      run: melos exec --flutter -- "flutter analyze"

    lint:dart:
      description: Run Dart analyzer in non-Flutter packages.
      run: melos exec --no-flutter -- "dart analyze"

    test:
      description: Run tests for Flutter and Dart packages.
      run: melos run test:flutter && melos run test:dart

    test:flutter:
      description: Run Flutter tests in Flutter packages.
      run: melos exec --flutter -- "flutter test"

    test:dart:
      description: Run Dart tests in non-Flutter packages.
      run: melos exec --no-flutter -- "dart test"
